<%= form_with(model: space_agency) do |form| %>
  <% if space_agency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(space_agency.errors.count, "error") %> prohibited this space_agency from being saved:</h2>

      <ul>
        <% space_agency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :headquarters, style: "display: block" %>
    <%= form.text_field :headquarters %>
  </div>

  <div>
    <%= form.label :exists, style: "display: block" %>
    <%= form.check_box :exists %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
